.flows_raspberrypi.json.backup
[{"id":"eab4c760.b70488","type":"tab","label":"pid-control","disabled":false,"info":""},{"id":"e9ad5c26.4f553","type":"tab","label":"Dashboard","disabled":false,"info":""},{"id":"1808fd9f.005cea","type":"subflow","name":"Setpoint injector","info":"","in":[{"x":40,"y":40,"wires":[{"id":"417dd303.199424"},{"id":"e931e24d.e3681"}]}],"out":[{"x":900,"y":40,"wires":[{"id":"e931e24d.e3681","port":0}]}]},{"id":"c847dcc0.e7f5b","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c08f3b7a.5b6378","type":"ui_group","z":"","name":"PID","tab":"","disp":true,"width":"27","collapse":false},{"id":"57946e52.02708","type":"s7 endpoint","z":"","address":"192.168.0.89","port":"2000","rack":"0","slot":"1","localtsaphi":"200","localtsaplo":"100","remotetsaphi":"100","remotetsaplo":"200","connmode":"tsap","cycletime":"2","timeout":"1500","verbose":"default","name":"PLC","vartable":[{"addr":"DB10,REAL8","name":"setpoint"},{"addr":"DB10,REAL4","name":"pid-out"}]},{"id":"e0252fd8.59e78","type":"s7comm","z":"","ip":"192.168.0.89","port":"102","rack":"0","slot":"1","payload":[{"S7_Type":"DB","S7_DBnum":"10","S7_Datatype":"R","S7_Offset":"8","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"setpoint"},{"S7_Type":"DB","S7_DBnum":"10","S7_Datatype":"R","S7_Offset":"4","S7_BitOffset":"0","S7_Quantity":"1","S7_Name":"pid-output"}]},{"id":"c5dbd293.23b07","type":"ui_tab","z":"","name":"data","icon":"dashboard"},{"id":"2a18a0d2.2d2748","type":"twilioConfig","z":"","name":"twilioConfig"},{"id":"a914504.f6d0eb","type":"ui_group","z":"","name":"Data","tab":"c5dbd293.23b07","disp":true,"width":"27","collapse":false},{"id":"318b2903.5becce","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7e37e369.fe6dec","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":2},{"id":"924dd29e.62537","type":"ui_group","z":"","name":"PID","tab":"7e37e369.fe6dec","order":1,"disp":true,"width":"27","collapse":false},{"id":"c4bdbee3.94b218","type":"ui_tab","z":"","name":"testing","icon":"dashboard"},{"id":"dfeb08b9.aa2588","type":"ui_group","z":"","name":"testing","tab":"c4bdbee3.94b218","disp":true,"width":"6","collapse":false},{"id":"ebdedb68.071878","type":"comment","z":"eab4c760.b70488","name":"Check CPU's Temperature","info":"","x":170,"y":280,"wires":[]},{"id":"773d20b.08a04e","type":"comment","z":"eab4c760.b70488","name":"Pid control with a PI","info":"","x":152,"y":41.15494285311024,"wires":[]},{"id":"5f3f0554.2aa2dc","type":"mqtt in","z":"eab4c760.b70488","name":"MQTT-temp","topic":"topic/cpuTemp","qos":"2","broker":"318b2903.5becce","x":130,"y":100,"wires":[["5a9a448f.594ae4"]]},{"id":"b3a200bc.4ba8e","type":"function","z":"eab4c760.b70488","name":"PLANT","func":"var PID = msg.payload; // PID Value\nvar cycle; // PWM duty cycle\nvar adjustment = 0; // duty cycle adjustment\n\nvar cycle = parseFloat(adjustment) + parseFloat(PID);\n\nif(cycle<0){\n    msg.payload=0;\n    return msg;\n}\n\nelse if(cycle>100){\n    msg.payload=100;\n    return msg;\n}\n\nelse\n{\n    msg.payload = cycle; \n   // 0 - 100\n    return msg;\n}\n\nreturn null;","outputs":1,"noerr":0,"x":380,"y":220,"wires":[["b0816c36.3d56e8"]]},{"id":"ccf9fa5b.bb78a8","type":"mqtt out","z":"eab4c760.b70488","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","retain":"","broker":"318b2903.5becce","x":1220,"y":100,"wires":[]},{"id":"7bcd4a61.cc4ee4","type":"mqtt in","z":"eab4c760.b70488","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","broker":"318b2903.5becce","x":150,"y":220,"wires":[["b3a200bc.4ba8e"]]},{"id":"109d95ba.4ca26a","type":"comment","z":"eab4c760.b70488","name":"PID - PLANT","info":"","x":130,"y":180,"wires":[]},{"id":"362f625c.f90bae","type":"function","z":"eab4c760.b70488","name":"floatconverter","func":"msg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":140,"wires":[[]]},{"id":"3a5df063.073448","type":"inject","z":"eab4c760.b70488","name":"Sensor address","topic":"","payload":"10-000802dbd7b9","payloadType":"str","repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":340,"wires":[["6f6fea16.ec64c4"]]},{"id":"6f6fea16.ec64c4","type":"rpi-ds18b20","z":"eab4c760.b70488","topic":"","array":false,"name":"","x":510,"y":340,"wires":[["db3f2089.3d7aa"]]},{"id":"ac398fd4.ba52e8","type":"s7comm write","z":"eab4c760.b70488","connection":"e0252fd8.59e78","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"10\",\"S7_Datatype\":\"R\",\"S7_Offset\":\"4\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"pid-output\"}","s7Name":"pid-output","topic":"","name":"PLC-PID","signalSetted":false,"x":841.7261772155762,"y":219.28570045743663,"wires":[[]]},{"id":"b0816c36.3d56e8","type":"function","z":"eab4c760.b70488","name":"rpi-s7-data-convert","func":"var payload = msg.payload;\nmsg.payload = {};\nmsg.payload.value = [];\nmsg.payload.value[0] = payload;\nreturn msg;","outputs":1,"noerr":0,"x":631.7261772155762,"y":219.28570045743663,"wires":[["ac398fd4.ba52e8"]]},{"id":"38995619.acf58a","type":"PID","z":"eab4c760.b70488","name":"PID-control-loop","setpoint":"10","pb":"5","ti":"100","td":0,"integral_default":0.5,"smooth_factor":3,"max_interval":600,"enable":1,"disabled_op":0,"x":820,"y":100,"wires":[["8e8aa6a2.655198"]]},{"id":"8e8aa6a2.655198","type":"range","z":"eab4c760.b70488","minin":"0.0","maxin":"1.0","minout":"100.0","maxout":"0.0","action":"scale","round":false,"property":"payload","name":"Scaler","x":1010,"y":100,"wires":[["ccf9fa5b.bb78a8"]]},{"id":"5a9a448f.594ae4","type":"subflow:1808fd9f.005cea","z":"eab4c760.b70488","name":"","x":360,"y":100,"wires":[["38995619.acf58a"]]},{"id":"31566055.017a8","type":"function","z":"1808fd9f.005cea","name":"s7-rpi-data-convert-setpoint","func":"var output = {};\noutput.setpoint = msg.payload.value[0];\nreturn output;","outputs":1,"noerr":0,"x":480,"y":160,"wires":[["e931e24d.e3681"]]},{"id":"417dd303.199424","type":"s7comm read","z":"1808fd9f.005cea","connection":"e0252fd8.59e78","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"10\",\"S7_Datatype\":\"R\",\"S7_Offset\":\"8\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"setpoint\"}","s7Name":"setpoint","topic":"","name":"PLC-setpoint","signalSetted":false,"none":"true","repeat":"","once":false,"x":230,"y":160,"wires":[["31566055.017a8"]]},{"id":"e931e24d.e3681","type":"join","z":"1808fd9f.005cea","name":"joiner","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"","joinerType":"str","accumulate":false,"timeout":"1","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":750,"y":40,"wires":[[]]},{"id":"41867dd1.81b51c","type":"ui_chart","z":"e9ad5c26.4f553","name":"Chart: PID Output Data","group":"a914504.f6d0eb","order":3,"width":"27","height":"12","label":"PID Output","chartType":"line","legend":"false","xformat":"%M:%S","interpolate":"linear","nodata":"PID Output","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":"","useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":790,"y":200,"wires":[[],[]]},{"id":"61abac52.35bffc","type":"ui_gauge","z":"e9ad5c26.4f553","name":"Gauge: PID Output","group":"924dd29e.62537","order":4,"width":"9","height":"7","gtype":"gage","title":"PID-output","label":"units","format":"{{value | number:1}}%","min":0,"max":"100","colors":["#08f508","#e6e600","#ca3838"],"seg1":"80","seg2":"90","x":770,"y":340,"wires":[]},{"id":"fd8fc244.6a7518","type":"ui_gauge","z":"e9ad5c26.4f553","name":"Guage:Temperature","group":"924dd29e.62537","order":1,"width":"8","height":"7","gtype":"gage","title":"Temperature [째C]","label":"째C","format":"{{value | number:1}}째C","min":"0","max":"40","colors":["#00b500","#e6e600","#f90404"],"seg1":"","seg2":"","x":780,"y":140,"wires":[]},{"id":"6ffc9ace.99561c","type":"mqtt in","z":"e9ad5c26.4f553","name":"MQTT-temp","topic":"topic/cpuTemp","qos":"2","broker":"318b2903.5becce","x":110,"y":100,"wires":[["fd8fc244.6a7518","41867dd1.81b51c"]]},{"id":"4ecc6e6c.8039","type":"comment","z":"e9ad5c26.4f553","name":"Chart & Gauge","info":"","x":120,"y":40,"wires":[]},{"id":"5994d95a.3dcc08","type":"ui_gauge","z":"e9ad5c26.4f553","name":"setpoint gauge","group":"924dd29e.62537","order":0,"width":"9","height":"8","gtype":"gage","title":"Set temp","label":"units","format":"{{value | number:1}}째C","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":760,"y":240,"wires":[]},{"id":"41819668.43ed28","type":"s7comm write","z":"e9ad5c26.4f553","connection":"e0252fd8.59e78","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"10\",\"S7_Datatype\":\"R\",\"S7_Offset\":\"8\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"setpoint\"}","s7Name":"setpoint","topic":"","name":"setpoint","signalSetted":false,"x":620,"y":480,"wires":[[]]},{"id":"b938c22f.b21e68","type":"function","z":"e9ad5c26.4f553","name":"rpi-s7-data-convert","func":"var payload = msg.payload;\nmsg.payload = {};\nmsg.payload.value = [];\nmsg.payload.value[0] = payload;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["41819668.43ed28"]]},{"id":"d3a21939.89d8c","type":"ui_slider","z":"e9ad5c26.4f553","name":"","label":"slider","group":"c08f3b7a.5b6378","order":0,"width":"25","height":"2","passthru":true,"topic":"","min":0,"max":"40","step":1,"x":90,"y":480,"wires":[["b938c22f.b21e68"]]},{"id":"f2754c14.3bbfe","type":"sms","z":"e9ad5c26.4f553","name":"sms","message":"overheating of system","numbers":"+32496913797","throttle":1000,"twilio":"2a18a0d2.2d2748","x":370,"y":540,"wires":[[]]},{"id":"ee86eafe.777a7","type":"ui_button","z":"e9ad5c26.4f553","name":"testbutton","group":"dfeb08b9.aa2588","order":0,"width":"5","height":"4","passthru":false,"label":"send text message","color":"","bgcolor":"","icon":"","payload":"bla","payloadType":"str","topic":"","x":100,"y":540,"wires":[["f2754c14.3bbfe"]]},{"id":"2055e645.bbc1ba","type":"mqtt in","z":"e9ad5c26.4f553","name":"MQTT-pidController","topic":"topic/pidController","qos":"2","broker":"318b2903.5becce","x":130,"y":300,"wires":[["61abac52.35bffc","41867dd1.81b51c"]]},{"id":"b12fc7eb.99893","type":"s7comm read","z":"e9ad5c26.4f553","connection":"e0252fd8.59e78","payload":"{\"S7_Type\":\"DB\",\"S7_DBnum\":\"10\",\"S7_Datatype\":\"R\",\"S7_Offset\":\"8\",\"S7_BitOffset\":\"0\",\"S7_Quantity\":\"1\",\"S7_Name\":\"setpoint\"}","s7Name":"setpoint","topic":"","name":"setpoint","signalSetted":false,"none":"false","repeat":"0.1","once":false,"x":100,"y":240,"wires":[["6b2c2544.4e67ac"]]},{"id":"6b2c2544.4e67ac","type":"function","z":"e9ad5c26.4f553","name":"s7-rpi-data-convert","func":"var output = {};\noutput.payload = msg.payload.value[0];\nreturn output;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[["5994d95a.3dcc08","41867dd1.81b51c"]]},{"id":"db3f2089.3d7aa","type":"mqtt out","z":"eab4c760.b70488","name":"MQTT-temp","topic":"topic/cpuTemp","qos":"2","retain":"","broker":"318b2903.5becce","x":830,"y":340,"wires":[]}]